asgiref==2.3.2
aspy.yaml==1.3.0
asttokens==2.4.0
async-timeout==2.0.1
atomicwrites==1.4.1
attrs==21.4.0
autobahn==19.11.2
Automat==22.10.0
backports.functools-lru-cache==1.6.6
backports.shutil-get-terminal-size==1.0.0
certifi==2021.10.8
cffi==1.15.1
cfgv==2.0.1
chardet==4.0.0
colorama==0.4.6
configparser==4.0.2
constantly==15.1.0
contextlib2==0.6.0.post1
cookies==2.2.1
coverage==5.5
cryptography==3.3.2
daphne==2.2.0
decorator==4.4.2
distlib==0.3.7
Django==1.11.29
docopt==0.6.2
enum34==1.1.10
executing==1.2.0
filelock==3.2.1
funcsigs==1.0.2
functools32==3.2.3.post2
futures==3.4.0
hyperlink==21.0.0
identify==1.6.2
idna==2.10
importlib-metadata==2.1.3
importlib-resources==3.3.1
incremental==22.10.0
ipaddress==1.0.23
ipdb==0.10.2
ipython==5.10.0
ipython-genutils==0.2.0
jsonschema==3.2.0
mock==3.0.5
more-itertools==5.0.0
nodeenv==1.8.0
packaging==20.9
pathlib==1.0.1
pathlib2==2.3.7.post1
pathtools==0.1.2
pexpect==4.8.0
pickleshare==0.7.5
platformdirs==2.0.2
pluggy==0.13.1
pre-commit==1.21.0
prompt-toolkit==1.0.18
ptyprocess==0.7.0
py==1.11.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser==2.21
Pygments==2.5.2
PyHamcrest==1.10.1
pyOpenSSL==21.0.0
pyparsing==2.4.7
pyrsistent==0.16.0
PySocks==1.7.1
pytest==4.6.11
pytest-cov==2.8.1
pytest-django==3.10.0
pytest-forked==1.3.0
pytest-localserver==0.5.0
pytest-watch==4.2.0
pytz==2023.3.post1
PyYAML==5.4.1
requests==2.27.1
responses==0.17.0
scandir==1.10.0
-e git+https://github.com/vagi8/sentry-python.git@8ea8311576b6c7919c4570fb5aebcd6c4abcb003#egg=sentry_sdk
service-identity==21.1.0
simplegeneric==0.8.1
singledispatch==3.7.0
six==1.16.0
toml==0.10.2
tox==3.7.0
traitlets==4.3.3
Twisted==20.3.0
txaio==18.8.1
typing==3.10.0.0
urllib3==1.26.18
virtualenv==20.15.1
watchdog==0.10.7
wcwidth==0.2.8
Werkzeug==1.0.1
zipp==1.2.0
zope.interface==5.5.2
